{% extends 'base.html.twig' %}

{% block body %}
    <h1>Index</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if not app.user %}
        <a href="{{ path('registration_index') }}"><strong>Register</strong></a>
    {% else %}
        <h2>Welcome <strong>{{ app.user.username }}<strong></h2>
    {% endif %}
{% endblock %}